:root{
    --laranja:#F6511D;
    --roxo:#8458FF;
    --amarelo:#FFC107;
    --rosa:#DC3545;
    --cinza-claro:#CED4DA;
    --cinza:#ABB5BE;
}
*{
    margin: 0;
    padding: 0;
}
:hover button{
    cursor: pointer;
}
header h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 10px;
}
main{
    margin: auto;
    max-width:1189px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form{
    width: 82vw;
    max-width: 1189px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
}
form legend{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2.5rem;
}
form .form-principal{
    display: flex;
    justify-content: space-between;
}
form .esquerdo{
    max-width:589px;
    width:41vw ;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.esquerdo label{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.esquerdo .nome-pacote{
    height:38px;
    padding:0 5px;
    margin: 28px 0;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cinza);
}
.esquerdo-baixo{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.esquerdo-baixo .box{
    justify-content: space-evenly;
    align-content: space-between;
    max-height: max-content;
}
.esquerdo-baixo .box .box-titulo{
    margin-bottom: auto;
 
}
.esquerdo-baixo .box .check{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
:hover .check{
    cursor: pointer;
}
:hover .box input{
    cursor: pointer;
}
.box .ativo{
    margin-top: 20px;
}
.box .inativo{
    margin-top:10px
}
.box .data{
    max-width: 293px;
    width:293px ;
    height: 38px;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    margin-top: 26px;
    padding:0 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cinza);
}
:hover .data{
    cursor: text;
}

form .direito{
    max-width: 555px;
    width: 38vw;
    display: flex;
    flex-direction: column;
    
}
.direito label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
   
}
.direito textarea{
    height: 161px;
    padding: 2px 5px;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cinza);
}

/* botao do form */
form button{
    align-self: center;
    align-items: center;
    margin-top: 2.5rem;
    width: 109px;
    height: 39px;
    background: var(--roxo);
    border-radius: 4px;
    border-color:var(--roxo) ;
    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

main .pacotes-cadastrados{
    max-width: 1189px;
    width: 100%;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
   
}
.pacotes-cadastrados .pacotes{
    min-height: 265px;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    display: flex;
    align-content: center;
    
    
}
.pacotes section{
    max-width: 508px;
    margin-top:38px;
    margin-left: 62px;
    
}
.pacotes .titulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    
    margin-bottom:18px ;
}
.pacotes .descricao-pacote{
    margin-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza);
}
.pacotes .data-viagem{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.pacotes .div-botao{
    width:174px;
    margin: 37px 0;
    display: flex;
    justify-content: space-between;

}
.div-botao .botao-editar{
    width: 78px;
    height: 39px;
    background: var(--amarelo);
    border-radius: 4px;
    box-shadow: none;
    border:none;
    color: white;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.div-botao .botao-excluir{
    width: 78px;
    height: 39px;
    background: var(--rosa);
    border-radius: 4px;
    box-shadow: none;
    border:none;
    color: white;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
footer{
    width: 100%;
    height: 250px;
    background-color: var(--laranja);
    display: flex;
    justify-content: center;
    color: white;
    
}
footer h2{
    margin-top: 55px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
footer hr{
    align-self: center;
    margin: 0 30px;
    height: 200px;
}
footer div{
    align-self: center;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}